body {
    background-color: rgba(120, 120, 228, 0.445);
}

.nav {
    background-color: white;
    border: 3px solid black;
}

ul {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    position: sticky;
    top: 0;
}

li {
    display: inline;
    border-right: 1px solid #bbb;

}

a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    padding: 20px;
    color: black;
    text-decoration: none;
    text-align: center;
}

.header {
    text-align: center;
    padding-top: 3%;
}

.flex-container {
    display: flex;
    justify-content: space-evenly;
    padding-top: 5%;

}

.flip-box {
    background-color: transparent;
    width: 400px;
    height: 300px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
  }
  
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-box-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-box-back {
    background-color: #555;
    color: white;
    transform: rotateY(180deg);
  }

  div.polaroid {
      width: 26.7%;
      background-color: white;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .polaroid img {
      width: 100%;
  }