body {
  background-color: #f1f1f1
}

.nav {
  border: 2px black;
  border: 3px solid black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

li {
  float: right;
  
}

li a, .dropbtn {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

.header {
  text-align: center;
  padding-top: 3%;
}

.flex-container {
  display: flex;
  justify-content: space-evenly;
  padding-top: 5%;

}

.flip-box {
  background-color: transparent;
  width: 400px;
  height: 300px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
}
  
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
  
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}
  
.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
  
.flip-box-front {
  background-color: #bbb;
  color: black;
}
  
.flip-box-back {
  background-color: #555;
  color: white;
  transform: rotateY(180deg);
}

 .adobe-xd {
    margin: 5px;
    border: 1px solid #ccc;
  }
  
.adobe-xd:hover {
    border: 1px solid #777;
  }
  
div.desc {
  padding: 10px;
  text-align: center;
  background-color: white;
}

.footer {
  font-size: small;
  display:block;
	position:absolute;
	bottom: 7px;
	right: 88%;
}