body {
    background-color: #f1f1f1
  }

.nav {
    border: 2px black;
    border: 3px solid black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
  }
  
  li {
    float: right;
    
  }
  
  li a, .dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

.container-1 {
    display: flex;
    justify-content: space-evenly;
    padding-top: 7%;
}

.container-1 p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    width: 350px;
    line-height: 1.4;
    padding: 20px;
}

.container-1 h2 {
  padding-left: 20px;
}

.text-1 {
  margin-top: -45px;
}

.socials {
  display:block;
	position:absolute;
	bottom: 20px;
	right: 50%;
}

.facebook {
  padding-right: 10px;
}

.footer {
  font-size: small;
  display:block;
	position:absolute;
	bottom: 7px;
	right: 88%;
}