body {
    background-color: rgba(120, 120, 228, 0.445);
}

.nav {
    background-color: white;
    border: 3px solid black;
}

ul {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    position: sticky;
    top: 0;
}

li {
    display: inline;
    border-right: 1px solid #bbb;

}

a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    padding: 20px;
    color: black;
    text-decoration: none;
    text-align: center;
}

